header.portada{ 
background: url(../img/portafolio.jpg) no-repeat center center  scroll;  
background-size: cover;  
height: 100%; 
position: relative; 
display: table;  
width:100%;  
background-color: rgba(44,62,80,0.6);
} 

 .frase1{ 
  display: table-cell; 
vertical-align: middle; 
text-align: center; 
color: white;   
font-family: 'Dosis', sans-serif; 
font-weight: 700; 

}  
.frase1 p{ 
font-family:'Dosis', sans-serif ; 
text-align: center; 
font-size: 21px; 
font-weight: 300; 
} 
.title{ 
font-size: 4em; 
font-weight: 700;  
line-height: 1.5;
font-family: 'Open Sans Condensed', sans-serif;
} 


.foto{ 
width: 100%;
margin: 0 auto; 
padding-top: 46px; 
} 
.foto img{ 
width: 241px;  
border-radius: 50%; 
border:5px solid white
; 

}  
 .nombre{ 
color: #000;  
font-size: 38px; 
padding-top: 20px; 
font-family: 'Dosis', sans-serif; 
line-height: 1;  
font-weight: 800;

} 
h1{ 
text-align: center; 
} 
#about{ 
background-color: white;  
} 
.titulo{ 
font-size: 44px; 
padding: 36px; 
color: #000;  
font-weight: 700; 
font-family: 'Dosis', sans-serif; 
text-transform: uppercase; 
line-height: 1;
} 
.ocupacion{ 
color: red;  
font-size: 20px; 
}  
.descripcion{ 
padding-top: 20px; 
padding-bottom: 95px;  
line-height: 2; 
} 
.linea{ 
border:2px solid black; 
width: 30% ; 
} 
/*skill*/  
 
img{ 
width: 100%;  

} 
.tskill{ 
color: #000; 
text-align: center;  
font-family: 'Dosis', sans-serif; 
font-weight: 600; 
font-size: 27px;
} 
.container-fluid-banner{ 
background-color: black;  
color: white; 
text-align: center; 
} 
.baner{ 
background-image: url(../img/portafolio2.jpg); 
height: 35%; 
width:100% ;
background-size:cover; 
background-position: 40%; 
background-attachment: fixed; 
position: relative; 
display: table;
}  
.overlay-baner{ 
width: 100%; 
height: 100%;  
background-color: rgba(44,62,80,0.6); 
display: table-cell; 
vertical-align: middle;
 font-family: 'Open Sans Condensed', sans-serif; 
 font-size: 2em;
} 

/*section que hago*/ 
.section-heading{ 
padding-bottom:51px; 
padding-top: 89px; 
font-family: 'Dosis', sans-serif; 
font-weight: 600;
} 
span.glyphicon.glyphicon-console{ 
font-size: 35px;  
color: #35bdf6;
} 
span.glyphicon.glyphicon-menu-hamburger{ 
font-size: 35px;   
color: #35bdf6;
} 
span.glyphicon.glyphicon-picture{ 
font-size: 35px;  
color: #35bdf6;
 } 
 .baner2{ 
  background-image: url(../img/portafolio2.jpg); 
height: 35%; 
width: 100%; 
background-size: cover; 
background-position: 40%; 
background-attachment: fixed; 
position: relative; 
display: table; 
} 
.overlay-baner2{ 
width: 100%; 
height: 100%; 
position: absolute;  
background-color: rgba(44,62,80,0.6); 
display: table-cell; 
vertical-align: middle;
 
} 
#banner{ 
padding-top: 54px; 
}  
.col-md-4.text-center{ 
padding-bottom: 32px; 
}
/*PORTFOLIO*/ 
.col-sm-4{ 
padding-bottom: 20px;  
}

/*efecto hover*/ 
.overlay{ 
width: 100%; 
height: 100%; 
position: absolute; 
text-align: center;  
top: 0;
.phover{
  visibility: hidden; 
  padding-top: 18%;  
  font-family: 'Dosis', sans-serif;  
  font-size: 2em;
}  
span.glyphicon.glyphicon-search{ 
visibility: hidden; 
}
} 
.overlay:hover{ 
background-color: rgba(41, 128, 185,1.0); 
color: white; 
p{
  visibility: visible;
}  
span.glyphicon.glyphicon-search{ 
visibility: visible;  
font-size: 28px;
}
} 
.work{ 
position: relative; 
} 

  



/*tercera parte comienza con el contactanos*/
form{
  padding: 60px 0 105px;
  font-family: 'Montserrat', sans-serif;
 }
.form-group{
 width: 50%; 
 margin-bottom: 10px;
 margin: 0 auto;
 border-top: 1px solid #eee;
}
.btn-default-ct{
  padding: 18px 27px;
  font-size: 16px;
  line-height: 1.33;
  border: 0;
  color: white; 
  background-color: #EF5350;
}
.btn-default:hover{
background-color: white;
}

.contac-btn{
  text-align: center;
  padding-top: 23px;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
} 
input#pwd{ 
height: 100px; 
} 
.form-group { 
padding-bottom: 20px; 
} 
  
/*navegacion*/ 
ul.nav.navbar-nav{ 
font-size: 15px; 
font-family: monospace;  
padding-top: 5px;
} 
a.navbar-brand{ 
font-family: monospace; 
font-size: 25px; 
} 
hr{ 
border: 2px solid #F44336
 ;  
width: 80px;
}  
#footer{ 
    background-color:#000; 
    color: white; 
    height: 136px;  
     }  
  .correo{ 
    padding-top: 20px; 
  } 
/*modificaiones*/
.col-md-12.text-center.porta{ 
padding-bottom: 70px; 
}  
.sub{ 
padding: 14px;  
font-family: 'Dosis', sans-serif;  
font-weight: 600;
}
.navbar-inverse .navbar-nav > li > a{ 
color: white;  
font-family: 'Dosis', sans-serif;
} 
.navbar-inverse .navbar-brand{  
   font-family: 'Dosis', sans-serif;  
   color: white; 
   font-weight: 800;
}
h3{ 
text-align: center; 
} 
a.btn.btn-lg.btn-theme-color{ 
background-color:#EF5350
; 
color: white; 
 } 

.ocupacion{ 
font-family: 'Dosis', sans-serif; 
color: darkcyan;  
font-weight: 800;
} 
.container-fluid-banner{ 
margin-top: 28px; 
} 
.fin{ 
font-family: 'Dosis', sans-serif; 
} 
.correo{ 
font-family: 'Dosis', sans-serif; 
}  
.git{ 
  width: 30px; 
  display: inline-block; 
  margin-right: 5px;
} 
.face{ 
  width: 30px; 
  display: inline-block;  
  margin-right: 5px;
} 
.twiter{ 
  width: 30px; 
  display: inline-block; 
  margin-right: 5px;
}
 
p{ 
margin: 0 0 20px ; 
}